* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* general styles */

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* header section */

header {
    margin-top: 30px;
    height: 84px;
}

.logo {
    width: 109px;
    height: 84px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 84px;
    letter-spacing: 0.03em;
    color: #A52424;
    text-decoration: none;
}

nav {
    margin-left: 204px;
    width: 534px;
    height: 23px;
}

ul {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

li>a {
    width: 183px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #101010;
    text-decoration: none;
}

.link_logo {
    margin-left: 139px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.05em;
    color: #A52424;
    text-decoration: none;
}

/* first_screen section */

.container_first_screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.first_screen_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 443px;
    height: 347px;
}

h1 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.1em;
    color: #232323;
    margin-bottom: 20px;
}

.first_screen_subheader {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #101010;
    margin-bottom: 60px;
}

.first_btn {
    width: 336px;
    height: 60px;
    border: none;
}

.btn_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #A52424;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A52424;

}

.btn_link:hover {
    background-color: #A52424;
    color: #fff;
}

.btn_link:active {
    background-color: #d22525;
    color: #fff;

}

.btn:hover {
    background-color: #A52424;
    color: #fff;
}

.btn:active {
    background-color: #d22525;
    color: #fff;

}

.screen_img {
    margin-top: 11px;
    width: 674px;
    height: 677px;
}

/* about_me section  */

.container_about_me {
    margin-top: 150px;
    display: block;
}

.about_me_header {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.05em;
    color: #232323;
}

.about_wrapper {
    display: flex;
    justify-content: space-between;
}

.about_wrapper_left {
    position: relative;
    margin-bottom: 164.54px;
    margin-top: 45.54px;
    width: 377px;
    height: 560.93px;
}

.about_block1 {
    position: absolute;
    width: 343.47px;
    height: 560.93px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
}

.about_block_img1 {
    position: absolute;
    top: 49.46px;
    right: 0;
    width: 278px;
    height: 371px;
}

.about_me_text1 {
    position: absolute;
    bottom: 60.97px;
    left: 97.55px;
    width: 226.61px;
    height: 29.47px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #A52424;
}

.about_wrapper_right {
    width: 674px;
    height: 614px;
    position: relative;
}

.about_block2 {
    position: absolute;
    width: 567.17px;
    height: 330.2px;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
}

.about_me_text2 {
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #A52424;
}

.about_wrapper_right p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #232323;
}

.about_block_img2 {
    position: absolute;
    bottom: 31.08px;
    right: 32.05;
    width: 641.95px;
    height: 268.05px;
}

/* portfolio section */

.container_portfolio {
    display: block;
    margin-bottom: 150px;
}

.portfolio_header {
    height: 78px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.05em;
    color: #232323;
    margin-bottom: 50px;
}

.portfolio_wrapper {
    display: flex;
    justify-content: space-between;
    height: 800px;
}

.portfolio_wrapper_item {
    width: 376px;
    height: 800px;
}

.portfolio_wrapper_item img {
    width: 377px;
    height: 567px;
    margin-bottom: 20px;
}

.portfolio_wrapper_item h3 {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #101010;
}

.portfolio_wrapper_item p {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #101010;
}

.portfolio_wrapper_item button {
    width: 202px;
    height: 60px;
    border: 1px solid #A52424;
    background-color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #A52424;
    cursor: pointer;
}

/* .price section */

.container_price {
    display: block;
    margin-bottom: 150px;
}

.price_header {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.05em;
    color: #232323;
    margin-bottom: 153px;
}

.price_wrapper {
    display: flex;
    justify-content: space-between;
    height: 467px;
    width: 100%;
}

.price_wrapper_item {
    position: relative;
    padding: 217px 40px 25px 40px;
    width: 509px;
    height: 467px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
}

.price_img {
    display: block;
    position: absolute;
    left: 110px;
    bottom: 280px;
    width: 290px;
    height: 290px;
    box-shadow: 2px 4px 10px 1px rgba(35, 35, 35, 0.15);
}

.price_subheader {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #A52424;
    margin-bottom: 25px;
}

.price_wrapper_descr {
    display: flex;
    justify-content: space-between;

}

.price_descr1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 86px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
    margin-bottom: 25px;
}

.price_descr2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 86px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
}

.wraper_cost {
    display: flex;
    justify-content: space-between;
}

.price_cost {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #A52424;
}

.cost_btn {
    width: 249px;
    height: 60px;
    background-color: #fff;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #A52424;
}

/* sign_up section  */

.container_sign_up {
    display: block;
    margin-bottom: 100px;
}

.sign_up_header {
    height: 78px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.05em;
    color: #232323;
    margin-bottom: 50px;
}

.sign_up_wrapper {
    height: 585px;
    display: flex;
    justify-content: space-between;
}

.sign_up_img {
    position: relative;
    height: 100%;
    width: 590px;
}

.sign_up_img1 {
    width: 285px;
    height: 492px;
    position: absolute;
    left: 0;
    top: 47px;
    box-shadow: 2px 4px 10px 1px rgba(35, 35, 35, 0.15);
}

.sign_up_img2 {
    width: 329px;
    height: 585px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 2px 4px 10px 1px rgba(35, 35, 35, 0.15);
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 476px;
    height: 519px;
}

.inp {
    display: block;
    width: 476px;
    height: 60px;
    padding-left: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: rgba(35, 35, 35, 0.35);
    background: #FFFFFF;
    border: 0.5px solid rgba(35, 35, 35, 0.4);
}

.inp::placeholder {
    color: rgba(35, 35, 35, 0.35);
}

.inp_text {
    width: 476px;
    height: 221px;
    padding-top: 18px;
    resize: none;
}

.form_btn {
    width: 476px;
    height: 60px;
    border: 1px solid #A52424;
    background-color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #A52424;
}

/* footer section */

footer {
    height: 157px;
    border-top: 0.3px solid rgba(35, 35, 35, .3);
}

.container_footer {
    height: 100%;
    align-items: center;
}

.logo_footer {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 84px;
    letter-spacing: 0.05em;
    color: #A52424;
    text-decoration: none;
}

.footer_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 30px;
    margin-left: 375px;
}

.link_logo_footer {
    margin-left: 260px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #A52424;
    text-decoration: none;
}